@page
@model waitersRazorPages.Pages.UserGuideModel
@{
    ViewData["Title"] = "User Guide";
}
<div class="widget">
<article class="user">
    <h3><strong>How to use the WaitersApp</strong></h3>
        <ul>
            <li>On the login page press ontop of the "Whats your name" question and enter your name the press login.</li>
            <li>If you are a Waiter you can login and book your days for the week.</li>
            <li>The Battery icon you see on the home page indicates the availability of the day.</li>
            <li>If you are the manager you can be able to click on the name of the waiter you want to change their day to change them.</li>
            <li>You Can click reset button to clear the data if you are manager.</li>
            <li>Once done with using the App please log-out.</li>
        </ul>
</article>
<form method="post">
    @if(@Model.Username == null)
        {
        <button type="submit" asp-page-handler="Log" class="button-73 blink">Login</button>
        }
</form>
</div>